!!! strict
%html
  %head
    %title= title
    %link{ :media => "screen", :type => "text/css", :href => "/reset.css", :rel => "stylesheet" }
    %link{ :media => "screen", :type => "text/css", :href => "/wiki.css", :rel => "stylesheet" }
    %script{ :src => "/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "/to-title-case.js", :type => "text/javascript" }
    :javascript
      $(document).ready(function() {
        /* title-case-ification */
        document.title = document.title.toTitleCase();
        $('.page').each(function(i) {
          var e = $(this)
          e.text(e.text().toTitleCase());
        })
        $('#content a').each(function(i) {
          var e = $(this)
          e.text(e.text().toTitleCase());
        })
      })
  %body
    #header
      %h1= link_to '/', 'Sinatra'
      %ul#navigation
        %li= link_to '/GetSinatra', 'Get Sinatra'
        %li= link_to '/docs/sinatra/index.html', 'Documentation'
        %li= link_to '/Contribute', 'Contribute'
    #content= yield
    #footer
      &copy; The Sinatra Community | powered by
      %a{ :href => "http://github.com/sr/git-wiki" } git-wiki
      which is powered by
      %a{ :href => "http://github.com/bmizerany/sinatra" } Sinatra
      and
      %a{ :href => "http://git-scm.org" } git
