- if @page.lastest?
  - title @page.name.titleize
  %h1
    = actions_for(@page)
- else
  - title "Version #{@page.revision.id_abbrev} of #{@page.name}"
  %h1
    Version 
    = link_to_page(@page, @page.revision)
    = surround ' of ', ' &mdash; ' do
      = link_to_page(@page)
    = revert_link_for(@page)
.content{:id => @page}
  ~"#{@page.to_html}"
